* {
    margin: 0px;
    padding: 0px;
    /* Added times new roman just in case the google fonts don't work */
    font-family: 'Courgette', 'Arimo', 'Oxygen','Times New Roman';
    background-color: rgb(255, 221, 221);
    font-size: 18px;
}

/* Changing the Tic tac toe headline on the page */

h1 {
    border-bottom-style: solid;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

/*The game board*/
#gameBoard {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scoreBoard {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
}

/* For whose turn it is*/

#player {
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td {
    height: 100px;
    width: 100px;
    border: 3px solid #222;
    text-align: center;
    font-size: 50px;
}

/* So the border around the table doesnt show */

td:first-of-type {
    border-top-color: transparent;
    border-left-color: transparent;
}

td:nth-child(2) {
    border-top-color: transparent;
}

td:nth-child(3) {
    border-top-color: transparent;
    border-right-color: transparent;
}

tr:nth-child(3) td {
    border-bottom-color: transparent;
}